.wrapper {
    display: flex;
   
    color: #f6f6f6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper img {
    cursor: pointer;
    height: 30px;
    
}
.menu-web {
    display: flex;
    
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    color: rgb(248, 246, 246);
    
}

.menu-web ul li {
    display: inline;
    margin: 0 10px;
    color: black;
    
    font-weight: bolder;
    cursor: pointer;
    
}
.menu-web ul li:hover {
    text-decoration: underline;
    
    
}
.menu-web button{
    background: #3f91d0;
    color: #fff;
    font-size: 20px;
    
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
}
.menu-web button:hover{
    background:  #ccc7d2;
    color: black;
}
.wrapper h2{
    
    
    margin: 10px;
    
}

.hamburger {
    display: none;
    flex-direction: column;
    
    
    margin: 30px;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
   
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-web {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #3f91d0;
        color: #fff;
        padding: 10px 0;
    }
    .menu-web ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 10px 0;
    }
    .menu-web ul li {
        margin: 0;
        padding: 10px 0;
        text-align: center;
        
    }
    .menu-web button {
        margin: 10px 0;
        width: 100%;
    }
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        
        
       
    }
    .hamburger button{
        background: #3f91d0;
        
        color: #fff;
        font-size: 25px;
        border-radius: 5px;
        cursor: pointer;
      
        
        border: none;

        
    }
    .wrapper{
        
    }
    .menu-mobile{
        position:absolute;
        top: 5rem;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.485);
        left: 0;
        color: #000;
        backdrop-filter: blur(10px);
        font-weight: bolder;
        font-size: large;

        
        
    }
    .menu-mobile ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin: 20px;
        list-style: none;
        
 
    }
    .menu-mobile ul li{
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
    }
    
    
}